In [2]:
mi_tupla=(2,3,4,6,8)

In [3]:
print(mi_tupla)

(2, 3, 4, 6, 8)

In [4]:
type(mi_tupla)

tuple

In [5]:
dias=('lunes', 'martes', 'miercoles', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo')

In [6]:
print(dias)

('lunes', 'martes', 'miercoles', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo')

In [8]:
print(dias[3])

miercoles

In [9]:
'jueves' in dias

True

In [10]:
'Jueves' in dias

False

In [11]:
dias.count('sabado')

1

In [12]:
tupla_unitaria=('un elemento',) #si no se le pone la coma, se almacena como string

In [13]:
type(tupla_unitaria)

tuple

In [14]:
dias[2]

'miercoles'

In [15]:
dias[3:5] #incluye los elementos 4 y 5, no el 3

('miercoles', 'jueves')

In [17]:
x=11
y=22
z='henry'

In [18]:
nueva=x,y,z #esto es empaquetado de valores en una tupla

In [19]:
print(nueva)

(11, 22, 'henry')

In [20]:
type(nueva)

tuple

In [21]:
date=(31,'diciembre',1983)

In [22]:
print(date)

(31, 'diciembre', 1983)

In [23]:
type(date)

tuple

In [24]:
dia, mes, año=date #esto es desempaquetado de tuplas

In [26]:
print(dia)
print(mes)
print(año)

31
diciembre
1983

In [27]:
print(type(dia))
print(type(mes))
print(type(año))

<class 'int'>
<class 'str'>
<class 'int'>

In [28]:
impares=(1,3,5,7,9)

In [29]:
primero=impares[0] #desempaquetado de solo un elemento
cuarto=impares[3]
quinto=impares[4]

In [30]:
print(primero)
print(cuarto)
print(quinto)

1
7
9

In [31]:
_,_,_,siete,nueve=impares #desempaquetado pero solo de los elementos que queremos

In [32]:
print(siete)
print(nueve)

7
9

In [33]:
lista_impares=list(impares) #asi pasamos los elementos de una tupla a una lista

In [34]:
print(lista_impares)

[1, 3, 5, 7, 9]

In [35]:
type(lista_impares)

list

In [37]:
tupla_impares=tuple(lista_impares) #asi pasamos los elementos de una lista a una tupla
print(lista_impares)

[1, 3, 5, 7, 9]

In [38]:
type(tupla_impares)

tuple

In [39]:
print(tupla_impares)

(1, 3, 5, 7, 9)