## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a= 25
print (a)

25

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre="Julio"

5) Crear una variable que contenga un número complejo

In [5]:
edad= 39 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(edad)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
valor='True'
Valor=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print(type(valor))
print(type(Valor))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [8]:
doble=5+5.5
print(doble)

10.5

11) Realizar una operación de suma de números complejos

In [9]:
operacion=(5+5j)+(6+8j)
print(operacion)

(11+13j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
pi=3.1416
ryc=edad+pi
print(ryc)

(42.1416+5j)

13) Realizar una operación de multiplicación

In [14]:
multi=a*3
print(multi)

75

14) Mostrar el resultado de elevar 2 a la octava potencia

In [29]:
elev=(2**8)
print(elev)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
cociente=(27/4)
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [37]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [38]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [39]:
6 * 4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [42]:
G='Gallego '
D='Duque'
print(G+D)

Gallego Duque

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [43]:
2=='2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
2==int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [16]:
hb = float('3,8') #por la coma

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [54]:
hb=3
hb -= 1
print(hb)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [55]:
1<<2 #era 0001 pero movimos el 1, siendo 0100, osea, 2**2 1: 0001

#2: 0010
#3: 0011
#4: 0100
#5: 0101
#6: 0110
#7: 0111
#8: 1000
#9: 1001
#10: 1010
#11: 1011
#12: 1100
#13: 1101
#14: 1110
#15: 1111
#16: 10000 WTF?

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [20]:
print(2 + int('2'))
print(str(2)+'2')
print(float(2)+float('2'))

4
22
4.0

26) Realizar una operación válida entre valores de tipo entero y string

In [62]:
ab= 'me gusta '
bb= 'mucho '
cb=3
db= 'dormir'

print(ab+(bb*cb)+db)

me gusta mucho mucho mucho dormir